body {
    font-family: "Helvetica Neue", "HelveticaNeue-Light", Helvetica, Verdana, Arial, "Lucida Grande", sans-serif;
}

header {
    width: 100%;
}

h1 {
    text-align: center;
    font-weight: 600;
    color: #0F582A;
    text-shadow: #0A3D1B;
}

.textbox {
    width: 70%;
}

.cssmenu,
.cssmenu ul,
.cssmenu li,
.cssmenu a,
.cssmenu span {
    width: 160px;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-transform: capitalize;
}

.cssmenu li {
    list-style: none;
}

.cssmenu li > a {
    display: block;
    position: relative;
    min-width: 110px;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #fdfdfd;
    /*font: bold 12px/32px Arial, sans-serif;*/
    float: left;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, .35);
    background: #6c6e74;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .1), 0px 1px 0px 0px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .1), 0px 1px 0px 0px rgba(0, 0, 0, .1);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .1), 0px 1px 0px 0px rgba(0, 0, 0, .1);
}

.cssmenu li > a span {
    display: block;
    position: absolute;
    top: 7px;
    right: 0;
    padding: 0 10px;
    margin-right: 10px;
    font: normal bold 12px/18px Arial, sans-serif;
    background: #404247;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .2), 1px 1px 1px rgba(255, 255, 255, .1);
    -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .2), 1px 1px 1px rgba(255, 255, 255, .1);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .2), 1px 1px 1px rgba(255, 255, 255, .1);
}

.sub-menu li a {
    color: #797979;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, .2);
    background: #e5e5e5;
    border-bottom: 1px solid #c9c9c9;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .1), 0px 1px 0px 0px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .1), 0px 1px 0px 0px rgba(0, 0, 0, .1);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .1), 0px 1px 0px 0px rgba(0, 0, 0, .1);
}

.sub-menu li:last-child a {
    border: none;
}

.sub-menu li > a span {
    color: #964D25;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, .2);
    background: transparent;
    border: 1px solid #c9c9c9;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.cssmenu > li:hover > a,
.cssmenu > li:target > a {
    color: #964D25;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, .2);
    background: #F9C83A;
}

.cssmenu > li:hover > a span,
.cssmenu > li:target > a span {
    color: #964D25;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, .35);
    background: #964D25;
}

.sub-menu li:hover a {
    background: #FFEF36;
}

.autocomplete  { /*autocompleteButton {*/
    width: 80%;
    /*padding-left: 100px;
    margin: 0px;*/
    display: block;
    margin-left: 170px;
}

.currentSelections {
    width: 80%;
    /*padding-left: 100px;
    margin: 0px;*/
    display: block;
    position: relative;
    margin-left: 160px;
}

.textbox {
    width: 70%;
    padding-left: px;
    margin: 0px;
}

.page {
    padding-top: 10px;
    padding-left: 10px;
    width: 80%;
}

.resultTable {
    margin: 0px;
    padding: 0px;
    width: 80%;
    /*border: 1px solid #000000;*/
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    padding-left: 10px;
}

.resultTable table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.resultTable tr:last-child td:last-child {
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.resultTable table tr:first-child td:first-child {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}

.resultTable table tr:first-child td:last-child {
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}

.resultTable tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.resultTable tr:hover td {}

.resultTable tr:nth-child(odd) {
    background-color: #86bd4a;
}

.resultTable tr:nth-child(even) {
    background-color: #fdfdfd;
}

.resultTable td {
    vertical-align: middle;
    border: 1px solid #000000;
    border-width: 0px 1px 1px 0px;
    text-align: left;
    padding: 7px;
    font-size: 10px;
    font-family: Arial;
    font-weight: normal;
    color: #000000;
}

.resultTable tr:last-child td {
    border-width: 0px 1px 0px 0px;
}

.resultTable tr td:last-child {
    border-width: 0px 0px 1px 0px;
}

.resultTable tr:last-child td:last-child {
    border-width: 0px 0px 0px 0px;
}
/*
.resultTable tr:first-child td {
    background-color: #6c726b;
    border: 0px solid #000000;
    text-align: center;
    border-width: 0px 0px 1px 1px;
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
    color: #ffffff;
}

.resultTable tr:first-child:hover td {
    background-color: #6c726b;
}
*/
.resultTable tr:first-child td:first-child {
    border-width: 0px 0px 1px 0px;
}

.resultTable tr:first-child td:last-child {
    border-width: 0px 0px 1px 1px;
}

.resultTable th {
    background-color: #6c726b;
    border: 0px solid #000000;
    text-align: center;
    border-width: 0px 0px 1px 1px;
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
    color: #ffffff;
}
.resultTable.tablesorter thead tr .headerSortUp {
    background-image: url("images/asc.png");
    background-repeat: no-repeat;
    background-position: right bottom; 
}
.resultTable.tablesorter thead tr .headerSortDown {
    background-image: url("images/desc.png");
    background-repeat: no-repeat;
    background-position: right bottom; 
}


/*DETAILS SCREEN BEGINS*/ 
.dialog-modal div.dialog-data {
    overflow: auto;
    height: 100%;
}
.dialog-modal table.dialog-data-table .tablesorter {
    border-collapse: collapse;
    border-spacing: 0;
  
    margin: 0px;
    padding: 0px;
}
 .tablesorter thead tr .headerSortUp {
    background-image: url("images/asc.png");
    background-repeat: no-repeat;
    background-position: right bottom; 
}
 .tablesorter thead tr .headerSortDown {
    background-image: url("images/desc.png");
    background-repeat: no-repeat;
    background-position: right bottom; 
}
.ui-dialog .ui-dialog-content {
    border: 0;
    padding: .5em 1em;
    background: #ff0000;
    overflow: auto;
    zoom: 1;
}
/*
.tablesorter-header {
    background-image: url("desc.png");
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: right center;
    padding: 4px 18px 4px 4px;
    white-space: normal;
    cursor: pointer;
}*/
.tablesorter-header {
    background-repeat: no-repeat;
    background-position: right center;
    padding: 4px 18px 4px 4px;
    white-space: normal;
    cursor: pointer;
}


.detailTable {
    
    width:auto;
}

.detailTable tr:last-child td:last-child {
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.detailTable table tr:first-child td:first-child {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}

.detailTable table tr:first-child td:last-child {
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}

.detailTable tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.detailTable tr:hover td {}

.detailTable tr:nth-child(odd) {
    background-color: #86bd4a;
}

.detailTable tr:nth-child(even) {
    background-color: #fdfdfd;
}

.detailTable td {
    vertical-align: middle;
    border: 1px solid #000000;
    border-width: 0px 1px 1px 0px;
    text-align: left;
    padding: 7px;
    font-size: 10px;
    font-family: Arial;
    font-weight: normal;
    color: #000000;
}

.detailTable tr:last-child td {
    border-width: 0px 1px 0px 0px;
}

.detailTable tr td:last-child {
    border-width: 0px 0px 1px 0px;
}

.detailTable tr:last-child td:last-child {
    border-width: 0px 0px 0px 0px;
}

.detailTable tr:first-child td:first-child {
    border-width: 0px 0px 1px 0px;
}

.detailTable tr:first-child td:last-child {
    border-width: 0px 0px 1px 1px;
}

.detailTable th {
    background-color: #6c726b;
    border: 0px solid #000000;
    text-align: center;
    border-width: 0px 0px 1px 1px;
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
    color: #ffffff;
}
/*DETAILS SCREEN ENDS*/

/*SEARCH BOX BEGINS*/

.searchBox{
	float:right;
	/*padding:20px;*/
}
.searchTextInput{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	border:1px solid #0076a3; border-right:0px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}
.searchButton {
	margin: 0;
	padding: 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px #0076a3; border-right:0px;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
}
.searchButton:hover {
	text-decoration: none;
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}

/*SEARCH BOX ENDS*/
#loginButton {
        position : absolute;
        top:0;
        right:0;
        z-index:-1;
}

#logoutButton {
	position : absolute;
        top:0;
        right:0;
        z-index:0;
}


.welcomeMsg {
        position : absolute;
        top:0;
        right:1;
        z-index:1;
}


=======


/*LOG IN BEGINS*/
.login_button {
	position:absolute; 
	top:0; 
	right:0;
}
.dialog-modal-login {
    overflow: auto;
    height: 100%;
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}



.dialog-modal-login:target {
	opacity:1;
	pointer-events: auto;
}

.dialog-modal-login > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.login-close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.login-close:hover { background: #00d9ff; }

/*LOG IN ENDS*/
